*{
    padding: 0px;
    margin: 0px;
}

body{
    animation: fadein 1s forwards;
    width: 100%;
    background-color: rgb(250, 250, 250);
}



@keyframes fadein {
    from{
        opacity: 0;
    }
    To{
        opacity:1;
    }
}

@keyframes fadeout {
    from{
        opacity: 1;
    }
    To{
        opacity:0;
    }
}

@keyframes moveup {
    0%{
        translate : 0px 20px;
    }
    20%{
        translate : 0px 20px;
    }

    100%{
        translate : 0px 0px;
    }
}

@keyframes moveup2 {
    0%{
        translate : 0px 20px;
        opacity: 0;
    }
    40%{
        translate : 0px 20px;
        opacity: 0.4;
    }
    100%{
        translate : 0px 0px;
        opacity: 1;
    }
}

@keyframes movedown2 {
    0%{
        translate : 0px 0px;
        opacity: 1;
    }

    100%{
        translate : 0px 20px;
        opacity: 0;
    }
}

@keyframes turnup {
    0%{
        translate: -50px 50px;
        transform-origin: 0% 0%;
        transform: rotate(10deg);
        opacity: 0;
    }

    100%{
        translate: 0px 0px;
        transform-origin: 0% 0%;
        transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes turndown {
    0%{
        transform-origin: 100% 100%;
        transform: rotate(0deg);
        translate : 0px 0px;
        opacity: 1;
    }
    100%{
        translate : -50px 50px;
        transform-origin: 100% 100%;
        transform: rotate(-10deg);
        opacity: 0;
    }

}

@keyframes show1{
    0%{
        opacity: 0;
        translate: -20px 0px;
    }
    100%{
        opacity: 1;
        translate: 0px 0px;
    }
}

@keyframes show2{
    0%{
        opacity: 0;
        translate: 0px 10px;
    }
    100%{
        opacity: 1;
        translate: 0px 0px;
    }
    
}

@keyframes parallex {
    To{
        transform: translateY(1000px);
    }
}

@keyframes parallex2 {
    60%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-100px);
    }
}

@keyframes upsmenu{
    from{
        opacity: 0;
        translate: 0px 20px;
    }
    to {
        opacity: 1;
        translate: 0px 0px;
    }
}


.animateshow1{
    animation: show1 1.5s forwards;
}

.animateshow2{
    animation: show2 2s forwards;
}

.animateimgout{
    animation: turndown 1s forwards;
}

.animatefadein{
    animation: fadein 1s forwards;
    animation-delay:1s;
}

.animatefadeind0{
    animation: fadein 1s forwards;
}

.animatefadeout{
    animation: fadeout 1s forwards;
    animation-delay:1s;
}

.animateimgin {
    animation: turnup 1s forwards;
    animation-delay: 1s;
}


.animatetextin{
    animation: moveup2 1s;
    animation-delay: 1s;
}

.animatetextout{
    animation: movedown2 1s forwards;
}

.animateups{
    animation: upsmenu 0.5s forwards;
}


a{
    text-decoration: none;
    color: black;
}

.nav{
    
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: rgba(250, 250, 250, 0.8);
    z-index: 99999;
    padding-top: 2vh;
    transition: transform 0.25s;
}

.scroll-down {
	.nav {
		transform: translate3d(0, -100%, 0);
	}
}

.scroll-up {
	.nav {
	}
}


.navlist{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.logo{
    width: 60px;
    height: 60px;
}

.navlogo{
    display: grid;
    grid-row: 100px;
    grid-column: 100px;
    justify-content: center;
    align-content: center;
}

#logob{
    grid-row: 1/2;
    grid-column: 1/2;
}

.rotate1{
    translate: 0px 6px;
    rotate: 45deg;
    z-index: 99999;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(239deg) brightness(103%) contrast(101%);

}

.rotate2{

    translate: 0px -6px;
    rotate: -45deg;
    z-index: 99999;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(239deg) brightness(103%) contrast(101%);

}

#logoc{
    grid-row: 1/2;
    grid-column: 1/2;
    opacity: 0;
    transition: opacity 0.15s;
}

#logoc:hover{
    opacity: 1;
}

.menubar{
    z-index: 99999;
    display: flex;
    flex-direction: column;  
    transition: 0.1s;  
}



.bars{
    width: 40px;
    height: 3px;
    margin: 5px;
    transition: all 0.2s;

}

.menubar:hover .bars{
    filter: invert(55%) sepia(96%) saturate(1552%) hue-rotate(191deg) brightness(102%) contrast(108%);
}

.navlink{
    transition: color 0.2s;
}

.navlink:hover
{
    color: rgb(90, 166, 253);
}

.button{
   
    background-color: white;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    border: 1px solid;
    border-radius: 30px;
    padding: 15px;
    transition: all 0.2s;
}

.button:hover{
    color: white;
    background-color: rgb(90, 166, 253);
    border-color: rgb(90, 166, 253);;
}

.menuonbutton{
    color: white;
    background-color: rgb(90, 166, 253);
    border-color: rgb(90, 166, 253);;
}

#donate{
    display: grid;
    align-items: center;
    justify-items: center;
}

.lang{
    position: absolute;
    translate: 0px 50px;
    font-size: 17px;
    transition: filter 0.2s;
}

.lang:hover{
    filter: invert(55%) sepia(96%) saturate(1552%) hue-rotate(191deg) brightness(102%) contrast(108%);
}



/* -----homebody----- */


.homebody{
    padding-top: calc(100px + 2vh);
}

.mainbox{
    display: grid;
    grid-template-columns: 1fr 80vw 1fr;
    aspect-ratio: 21/10;
}

.slidearowleft{
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
    
}

.slidearrowleft{
    width: 5vw;
    transition: translate 0.25s;
    animation: fadedin 1s;
    animation-delay: 0.2s;
}

.slidearowright{

    grid-column: 3 / 4;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}

.slidearrowright{
    width: 5vw;
    transition: translate 0.25s;
}

.slidearrowleft:hover{
    translate: -0.5vw;
}

.slidearrowright:hover{
    translate: 0.5vw;
}

.interbox{
    grid-column: 2 /3;
}


.mainheading{
    animation: moveup 0.5s;
    animation-delay: 0.1s;
    margin-left: 4vw;
    font-size: 120px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: Bold;
    z-index:-999;
    /* animation: parallex linear;
    animation-timeline: scroll(); */
}

.mh{
    animation: moveup 1s;
}


.imgdiv
{
    animation: turnup 1s;

}
.homeimages{
    margin-right: 5vw;
    margin-top:1vw;
    width:48vw;
} 


.bodytext{
    font-size: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.homedis{
    display: flex;
    justify-content: space-between;
}

.bodytext{
    margin-left: 6vw;
    align-self: flex-end;
    margin-bottom: 5vw;
    animation: moveup2 1s;
}

.screens
{
    display: grid;
}

#screen1, #screen2, #screen3{
    grid-column: 1/2;
    grid-row:1/2;
}

#screen1{
    opacity:1;
}
#screen2{
    opacity: 0;
}
#screen3{
    opacity:0;
}

#link1{
    margin-top: 1vw;
}

.linktext{
    display: flex;
    gap: 10px;
    font-size:25px;
    color: rgb(90, 166, 253);
    transition: color 0.2s;
}

#screen1{
    z-index: 100;
}

.linktext:hover{
    color: black;
}

.ar{
    transition: translate 0.25s;
}

.linktext:hover .ar{
    translate: 10px 0px;
}


/* -------- spots -------- */

#show1{
    opacity: 0;
}

.spotbox{
    width: 80vw;
    margin: auto;
    
}

.places{
    display: flex;
    flex-direction: column;
}

.secondtitle{
    width:fit-content;
    align-self: flex-end;
}

#t1{
    translate: -5vw 0vw;
}

.placetitle{
    font-size: 70px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: Bold;
}

#spot1{
    margin-bottom: 12vh;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 5fr;
}

#spotimage1{
    grid-column: 1 / 2;
    grid-row: 1/2;
    display: grid;
}

#spottext1{

    grid-column: 2 / 3;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
}

#spotarrowdiv1{
    grid-column: 1/2;
    grid-row: 1/2;
}

#spot1name{
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 50px;
}

#spot1exp{
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 20px;
}

#spot1address{
    grid-row: 3/4;
    grid-column: 2/3;
    font-size: 20px;
}

#spot1address:hover #spot1address1{
    color: rgb(90, 166, 253);
}

#linkarrowmove1{
    transition: translate 0.25s;
}

#spot1address:hover #linkarrowmove1{
    translate: 3px -3px;
}

#spot1address1{
    display: flex;
    gap: 5px;
}

#spotmediapic1{
    z-index: 10;
    grid-row: 1/2;
    grid-column: 1/2;
    transition: opacity 0.5s;
}
#spotmediavid1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.spotmedia{
  width: 38vw;
  border-radius: 10px;
}

#spotarrow1{
    rotate: 180deg;
    width:40px;
}

/* ---- */

#spot2{
    width: 100%;
    margin-bottom: 12vh;
    display: grid;
    grid-template-columns: 5fr 5fr;
}


#spotimage2{
    grid-column: 2 / 3;
    grid-row: 1/2;
    display: grid;
}

#spottext2{

    grid-column: 1 / 2;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    padding-left: 10vw;
}

#spotarrowdiv2{
    grid-column: 1/2;
    grid-row: 1/2;
}

#spot2name{
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 50px;
}

#spot2exp{
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 20px;
}

#spot2address{
    grid-row: 3/4;
    grid-column: 2/3;
    font-size: 20px;
}

#spot2address:hover #spot2address2{
    color: rgb(90, 166, 253);
}

#linkarrowmove2{
    transition: translate 0.25s;
}

#spot2address:hover #linkarrowmove2{
    translate: 3px -3px;
}

#spot2address2{
    display: flex;
    gap: 5px;
}

#spotmediapic2{
    z-index: 10;
    grid-row: 1/2;
    grid-column: 1/2;
    transition: opacity 0.5s;
}
#spotmediavid2{
    grid-column: 1/2;
    grid-row: 1/2;
}

#spotarrow2{
    width:40px;
}

.spottext{
    font-family: "Lato", sans-serif;
    font-weight: 500;
}

.symbol{
    width:fit-content;
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-items: right;
}

.symbolimg{
    width: 70px;
}

.symboltext{
    width: 500px;
    position: absolute;
    translate: 20px -175px;
    z-index: 999;
    display: none;
}


#cycle{
    transition: filter 0.2s;
}

#sport{
    transition: filter 0.2s;
}
#symbol1:hover #cycle{
    filter: invert(55%) sepia(96%) saturate(1552%) hue-rotate(191deg) brightness(102%) contrast(108%);
}

#symbol1:hover #bubble1{
    display: block;
}


#symbol2:hover #sport{
    filter: invert(55%) sepia(96%) saturate(1552%) hue-rotate(191deg) brightness(102%) contrast(108%);
}

#symbol2:hover #bubble2{
    display: block;
}

#spot1:hover #spotmediapic1{
    opacity: 0;

}

#spotarrow1{
    transition: translate 0.25s;
}

#spotarrow2{
    transition: translate 0.25s;
}

#spot1:hover #spotarrow1{
    filter: invert(55%) sepia(96%) saturate(1552%) hue-rotate(191deg) brightness(102%) contrast(108%);
    translate: -10px 0px;
}

#spot2:hover #spotmediapic2{
    opacity: 0;

}

#spot2:hover #spotarrow2{
    filter: invert(55%) sepia(96%) saturate(1552%) hue-rotate(191deg) brightness(102%) contrast(108%);
    translate: 10px 0px;
}

/* ------more spot------- */

.sometext{
    font-size: 70px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: Bold;
    width: 80vw;
    margin: auto;
    position: relative;
}


.line{
    translate:0px 10px;
    opacity: 0;
    transition: all 1s;
}


.line:nth-child(2){
    transition-delay: 100ms;
}

.line:nth-child(3){
    transition-delay: 200ms;
}
.line:nth-child(4){
    transition-delay: 300ms;
}

.show2{
    translate: 0px 0px;
    opacity: 1;
}



.line4{
    color: rgb(90, 166, 253);
    z-index: 10;
}

#extending{
    width: 80vw;
    margin: auto;
    font-size: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    margin-top: 40px;
    color: rgb(70, 70, 70);
}

.places2{
    width:94vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:5fr 2fr;
    padding-top: 200px;
    
}


.addplaceimage
{
    display: grid;
    
}

#vidmedia1, #imgmedia1
{
    width: 30vw;
    grid-row: 1/2;
    grid-column: 1/2;
    border-radius: 5px;
    animation: parallex2 linear;
    animation-timeline: scroll();
}

#vidmedia2, #imgmedia2
{
    width: 40vw;
    grid-row: 1/2;
    grid-column: 1/2;
    border-radius: 5px;
    animation: parallex2 linear;
    animation-timeline: scroll();
}

#vidmedia3, #imgmedia3
{
    width: 15vw;
    grid-row: 1/2;
    grid-column: 1/2;
    border-radius: 5px;
    animation: parallex2 linear;
    animation-timeline: scroll();
}

#imgmedia1, #imgmedia2, #imgmedia3{
    z-index: 30;
}

#addplace1{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.addplacetext{
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
.addplacetitle{
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 5px;
}
.addplaceexp{
    font-size: 14px;
}

.extraimg{
    transition: opacity 0.25s;
}

.extraimg:hover{
    opacity: 0;
}

#addplacetext1{
    margin-top: 20px;
    margin-left: 20px;
}

#addplace2{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column-reverse;
    justify-content: baseline;
    align-items: flex-end;
    padding-bottom: 15vh;
}

#addplacetext2{
    width: 40vw;
    
}
#addplaceimage2{
    width: fit-content;
    margin-bottom: 20px;
}

.vision{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
    font-size:30px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    justify-self: center;
    margin-left: 7.5vw;
}



.weblink{
    margin-top: 30px;
    font-size: 20px;
}

.weblinkaddress{
    display: flex;
    transition: color 0.25s;
    gap: 5px;
}

.weblinkaddress:hover{
    color:rgb(90, 166, 253);
}

.weblinkarrow{
    transition: translate 0.25s;
}

.weblinkaddress:hover .weblinkarrow{
    translate: 7px 0px;
}

#addplace3{
    width: fit-content;
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 80px;
}

#addplacetext3{
    margin-left: 20px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    align-self: end;
}

.ourprojects{
    width: 96vw;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    margin: auto;
    margin-top: 200px;
}

.researchhead{
    grid-column: 1/3;
    grid-row: 1/2;
    align-self:center;
    justify-self:flex-start;
    font-size:40px;
    font-family: "Lato", sans-serif;
    transform-origin: 0% 0%;
    translate: 30px 170px;
    rotate: -90deg;
    font-weight: 400;
    width: 300px;
    text-align: right;

    
}

.researchimg{
    width: 16vw;
    transition: translate 0.25s;
    min-width: 200px;
}

.researchlist{
    grid-column: 2/4;
    grid-row: 1/2;
    display: flex;
    gap: 1vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.researchelementlink{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    align-items: center;
}

.researchtitle{
    width: 16vw;
    min-width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.researchelement:hover .researchimg{
    translate: 0px -20px;
}

.email{
    background-color: rgb(90, 166, 253);
    height: 30vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emailtext{
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: white;
}

.emailplace{
    display: flex;
}

.emailbox{
    margin-top: 20px;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    width:50vw;
    border: 0px;
    border-bottom: 2px solid rgb(207, 207, 207);
    background-color: rgb(90, 166, 253);
    color: rgb(255, 255, 255);
}

.emailarrow{
    transition: translate 0.25s;
}

.emailarrow:hover{
    translate: 10px 0px;
}

#emailarrow{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(239deg) brightness(103%) contrast(101%);
    width: 40px;
}

.emailbox:focus{ 
    background-color: rgb(90, 166, 253);
    outline: none;
    border-color: white;
}


.implinks{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    height: 50vh;
    min-height: fit-content;
}

.part1
{
    grid-column: 1/2;
    display: grid;
    grid-template-rows: auto auto;
    margin-left: 50px;
    justify-content: center;
}


.rotatinglogo{
    display: grid;
    place-content: center;
}
.part2{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.links{
    font-size: 30px;
}

.finallinks{
    transition:color 0.25s;
}
.links:hover .finallinks{
    color: rgb(90, 166, 253);
}

#link1{
    grid-column: 1/2;
    grid-row: 1/2;
}

#link2{
    grid-column: 2/3;
    grid-row: 1/2;
}

#link3{
    grid-column: 1/2;
    grid-row: 2/3;
}

#link4{
    grid-column: 2/3;
    grid-row: 2/3;
}

.socialmedialinks img{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(239deg) brightness(103%) contrast(101%);
}
.socialmedialinks{
    display: flex;
}

.smlinks{
    width: 40px;
}

.finallinks{
    color: white;
}

.langfinal{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(239deg) brightness(103%) contrast(101%);
    transition: filter 0.25s;
}

.langfinal:hover{
    filter: invert(55%) sepia(96%) saturate(1552%) hue-rotate(191deg) brightness(102%) contrast(108%);
}

#x, #ig, #fb{
    transition: filter 0.25s;
    margin:10px;
}

#x:hover{
    filter: invert(55%) sepia(96%) saturate(1552%) hue-rotate(191deg) brightness(102%) contrast(108%);
}

#fb:hover{
    filter: invert(55%) sepia(96%) saturate(1552%) hue-rotate(191deg) brightness(102%) contrast(108%);
}

#ig:hover{
    filter: invert(30%) sepia(51%) saturate(3587%) hue-rotate(321deg) brightness(91%) contrast(93%);
}


.needed{
    display: none;
    position: fixed;
    background-color: black;
    z-index: 9999;
    height: 120vh;
    width:100vw;
    translate: 0px -94px;
    overflow-y: hidden;
    padding-top: 100px;
}

.menuopen{
    opacity: 1;
    max-width: 100vw;
    /* min-height: fit-content;
    min-width: fit-content; */
    background-color: black;

    color: white;
    font-family: "Lato", sans-serif;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;

    align-items: center;
    padding: 10vw;
    gap:5vw;
    position: fixed;
    z-index: 9999;
    overscroll-behavior: contain;
}

.fcelinks{
    color: white;
}
.tcelinks, .scelinks{
    color: white;
    font-size: 40px;
    font-weight: 700;
    transition: color 0.25s;
}

.fcelinks:hover{
    color: rgb(90, 166, 253);
}
.secondcolelements:hover .scelinks{
    color: rgb(90, 166, 253);
    translate: 40px 0px;
}
.thirdcolelements:hover .tcelinks{
    color: rgb(90, 166, 253);
    translate: 40px 0px;
}


.secondcol{
    grid-column: 2/3;
    grid-row: 1/2;
    
}

.secondcolelements{
    transition: translate 0.25s;
}

.secondcolelements:hover{
    translate: 20px 0px;
}

.thirdcol{
    grid-column: 3/4;
    grid-row: 1/2;
}

.thirdcolelements{
    transition: translate 0.25s;
}

.thirdcolelements:hover{
    translate: 20px 0px;
}


.forthcol{
    grid-column: 4/5;
    grid-row: 1/2;
}

.firstcol, .secondcol, .thirdcol, .forthcol{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.firstcol{
    grid-column: 1/2;
    grid-row: 1/2;
    /* justify-content: start; */
}

#inmenulog{
    grid-column: 1/2;
    grid-row: 2/3;
}

.under{
    grid-column: 2/3;
    grid-row: 2/3;
}

.under2{
    grid-column: 3/4;
    grid-row: 2/3;
}

#inmenucp{
    grid-column: 4/5;
    grid-row: 2/3;
}

.swipe{
    font-size:15px;
    display: none;
}

#mvideo{
    position: absolute;
    translate: -20vw -25vw;
    z-index: -100;
}
.mainvideo{
    opacity: 0;
    transition: opacity 0.1s;
}

.videomain{
    width:38vw;
}

.line4:hover ~ .mainvideo{
    opacity: 1;
    
}

.mobile{
    display: none;
}

@media (max-width : 1295px){
    .vision{
        margin: auto;
        padding-top: calc(500px - 5vw);
        font-size: calc ( 30px - calc(calc(1295px - 100vw) / 5));
    }
    .forthcol{
        display: none;
    }
    .under, .under2, #inmenulogo, #inmenucp{
        display:none;
    }
    .emailbox{
        width: 70vw;
    }
    #emailarrow{
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(239deg) brightness(103%) contrast(101%);
        width: 30px;
        translate: 0px 15px;
    }
    .part2{
        display: none;
    }
    .mobile{
        display: flex;
    }
    .implinks{

        grid-template-columns: auto;
    }
    .part1{
        justify-self: center;

        margin-left: 0px;

    }
    .smcontainer
    {
        display: block;
    }

    .homeimages{
        margin-right: 0vw;
    }

    #researchelement4{
        display: none;
    }

    .researchlist{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 20px;
    }

    .researchimg{
        width: 35vw;
    }

    .researchelementlink{
        font-size: 26px;
    }
    
    .researchtitle{
        width: 35vw;
    }

    .menuopen{
        padding-top: 120px;
    }

}


@media (max-width : 800px){
    .emailbox{
        width: 80vw;
    }

    .places2{
        padding-top: 100px;
        grid-template-rows:auto auto auto auto;
        grid-template-columns: auto;
    }
    .addplacetitle{
        font-size: 30px;
    }

    .addplaceexp{
        display: none;
        
    }
    #addplace1{
        grid-row: 1/2;
        margin-bottom: 50px;
    }
    #addplace2{
        flex-direction: row;
        grid-row: 2/3;
        grid-column: 1/2;

        justify-self: end;
        justify-content: baseline;
        align-content: flex-end;
        padding-bottom: 0;
        margin-bottom: 50px;
    }
    #addplace3{
        grid-row: 3/4;
        margin-top: 0px;
        justify-self: left;
        margin-bottom: 50px;
        
    }

    #addplaceimage2{
        margin-bottom: 0px;
    }
    
    #vidmedia3, #imgmedia3{
        width: 40vw;
    }

    #vidmedia1, #imgmedia1{
        width: 40vw;
    }

    #vidmedia2, #imgmedia2{
        width: 50vw;
    }

    .vision{
        grid-row: 4/5;
        padding-top: 40px;
    }

    .sometext{
        
        font-size: 40px;
    }

    #extending{
        font-size: 30px;
    }
    .researchelementlink{
        font-size: 15px;
    }
    .researchhead{
        translate: 30px 0px;
    }

    .spotbox{
        width: 90vw;
        margin: auto;
        
    }
    
    .places{
        margin-top: 200px;
        display: flex;
        flex-direction: column;
    }
    
    .secondtitle{
        width:fit-content;
        align-self: center;
        text-align: center;
    }
    
    #t2{
        translate: 0vw 0vw;
        margin-bottom: 50px;
    }
    
    .placetitle{
        font-size: 70px;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-style: Bold;
    }
    
    #spot1{
        margin-bottom: 12vh;
        width: 100%;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }
    
    #spotimage1{
        grid-column: 1 / 2;
        grid-row: 1/2;
        margin-bottom: 30px;
        display: grid;
    }
    
    #spottext1{
    
        grid-row: 2 / 3;
        grid-column: 1/2;

        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        align-items: center;
    }
    
    #spotarrowdiv1{
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: end;
        margin-right: 20px;
    }
    
    #spot1name{
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 40px;
    }
    
    #spot1exp{
        grid-row: 3/4;
        grid-column: 1/2;
        font-size: 18px;
    }
    
    #spot1address{
        grid-row: 3/4;
        grid-column: 2/3;
        font-size: 18px;
    }
    
    .spotmedia{
      width: 90vw;
      border-radius: 10px;
    }
    
    #spotarrow1{
        width:30px;
    }
    
    /* ---- */
    
    #spot2{
        width: 100%;
        margin-bottom: 12vh;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }
    
    
    #spotimage2{
        grid-column: 1 / 2;
        grid-row: 1/2;
        display: grid;
        margin-bottom: 20px;
    }
    
    #spottext2{
    
        grid-column: 1 / 2;
        grid-row: 2/3;
        padding-left: 0vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    
    #spotarrowdiv2{
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: end;
        margin-right: 20px;
    }
    
    #spot2name{
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 40px;
    }
    
    #spot2exp{
        grid-row: 3/4;
        grid-column: 1/2;
        font-size: 18px;
    }
    
    #spot2address{
        grid-row: 3/4;
        grid-column: 2/3;
        font-size: 18px;
    }
    
    #spotmediapic2{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    #spotmediavid2{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    #spotarrow2{
        width:30px;
    }
    
    
    .symbol{

        grid-column: 1/2;
        grid-row: 1/2;

        justify-items: left;
    }
    
    .symbolimg{
        width: 40px;
    }
    
    .symboltext{
        width: 500px;
        position: absolute;
        translate: -20px -200px;
        z-index: 999;
        display: none;
    }
    
    #spotarrow1{
        rotate: -90deg;
    }
    
    #spotarrow2{
        rotate: -90deg;
    }
    
    #spot1:hover #spotarrow1{
        translate: 0px -10px;
    }
    
    
    #spot2:hover #spotarrow2{
        translate: 0px -10px;
    }
    
    #donate, #about, #visit{
        display: none;
    }
    
    .navlist{
        justify-content: space-between;
        margin-right: 40px;
        margin-left: 40px;
    }

    .mainbox{
        display: grid;
        grid-template-columns: auto;
        max-width: 100vw;
        justify-content: center;


    }
    .homeimages{

        margin-right: 0vw;
        margin: auto;
        width:90vw;
    } 
    .mainheading{
        font-size: 70px;

    }
    .homedis{
        flex-direction: column-reverse;
        align-items: center;
  
    }
    .bodytext{

        margin: auto;
    }
    .slidearowleft{
        display: none;
    }
    .slidearowright{
        display:none;
    }

    .swipe{
        display: flex;
        gap: 5px;
        justify-content: center;
    }

    .screens{
        overflow: scroll;
        scroll-snap-type: x mandatory;

    }

    .homedis{
        scroll-snap-align: start;
    }
    #screen2
    {
        opacity: 1;
        translate: 100vw;
    }

    #screen3
    {
        opacity: 1;
        translate: 200vw;
    }

    .screens::-webkit-scrollbar {
        display: none;
    }

    .screens {
        -ms-overflow-style: none;
        scrollbar-width: none; 
    }

    .needed{

        justify-content: center;
        align-items: center;
        width: 100%;
        overflow-y: auto;

    }
    .menuopen{
        grid-template-columns: auto;
        grid-template-rows: auto auto;       
        padding-left: 00vw; 
        padding-right: 00vw;
        min-width: fit-content;
        min-height: fit-content;
        margin: auto;
        width: 100%;
        overflow: auto;
    }
    
    .firstcol{
        height: fit-content;
        grid-row: 1/2;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid white;
        padding-top: 25px;
        gap: 10px;
    }

    .secondcol{
        display: none;
    }
    .thirdcol{
        border-top: 1px solid white;
        padding: 25px;
        grid-row: 2/3;
        grid-column: 1/2;
        display:flex;
        align-items: center;
        height: fit-content;
        gap: 15px;
    }

    .sometext{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    }
    #mvideo{
        grid-row: 1/2;
        margin-bottom: 20px;
        position: static;
        translate: 0vw 0vw;
        z-index: 0;
    }
    .mainvideo{
        opacity: 1;
        transition: opacity 0.1s;
    }
    
    .videomain{
        width:80vw;
    }

    .ourprojects{
        display:block;
    }

    .researchhead{
        translate: 0px 0px;
        rotate: 0deg;
        margin-bottom: 20px;
    }

    .fcelinks{
        font-size: 38px;
        font-weight: 900;
    }

}
